#!/usr/bin/env zsh
#
# variables.zsh
#
# Copyright (C) 2023 conor-sometimes <conor dot d dot mcshane at gmail dot com>
#
# Distributed under terms of the GPLv3 license.

export PROMPT_COLOR="green"

# $HOME/wiki/programs/gpg.wiki
export GPG_KEY="{{ .DESKTOP.GPG_KEY }}"

# this stops gpg from yelling at me while in ssh
export GPG_TTY="$(tty)"

# $HOME/wiki/programs/ssh.wiki
export SSH_KEY="{{ .DESKTOP.SSH_KEY }}"

source "/home/dind/.local/share/cargo/env"
