#!/usr/bin/env bash
ESSENTIALS=(
	"age"
	"git"
	"git-delta"
	"jq"
	"neovim"
	"openssh"
	"ranger"
	"remind"
	"restic"
	"ripgrep"
	"task"
	"tmux"
	"zsh"
)


{{ if eq .chezmoi.os "linux" -}}
sudo pacman -S ${ESSENTIALS[*]}
{{ end -}}

{{ if eq .chezmoi.hostname "honshu" -}}
sudo pacman -S ${ESSENTIALS[*]} bspwm sxhkd mpv dunst alacritty firefox redshift xrandr sshfs polybar xorg-xinit nvidia-open github-cli python-pip
pip3 install pynvim
{{ end -}}

{{ if eq .chezmoi.hostname "hokkaido" -}}
sudo pacman -S docker docker-compose rtorrent
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
brew install ${ESSENTIALS[*]} gh python
brew install python
pip3 install pynvim
{{ end -}}
# ; vim: set ft=sh:
