{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
sudo pacman -S git zsh restic ranger ripgrep
{{ end -}}

{{ if eq .chezmoi.hostname "honshu" -}}
#!/usr/bin/env bash
sudo pacman -S bspwm sxhkd mpv dunst alacritty firefox redshift
{{ end -}}

{{ if eq .chezmoi.hostname "hokkaido" -}}
#!/usr/bin/env bash
sudo pacman -S docker docker-compose
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh
brew install ripgrep ranger task
{{ end -}}
