#!/usr/bin/env bash
ESSENTIALS=(
	"git"
	"git-delta"
	"github-cli"
	"zsh"
	"restic"
	"ranger"
	"ripgrep"
	"remind"
	"git-delta"
	"openssh"
	"age"
	"neovim"
	"python-pynvim"
	"jq"
	"task"
	"remind"
)

{{ if eq .chezmoi.os "linux" -}}
sudo pacman -S ${ESSENTIALS[*]}
{{ end -}}

{{ if eq .chezmoi.hostname "honshu" -}}
sudo pacman -S ${ESSENTIALS[*]} bspwm sxhkd mpv dunst alacritty firefox redshift xrandr sshfs polybar xorg-xinit nvidia-open
{{ end -}}

{{ if eq .chezmoi.hostname "hokkaido" -}}
sudo pacman -S docker docker-compose rtorrent
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
brew install ${ESSENTIALS[*]}
{{ end -}}
# ; vim: set ft=sh:
