#!/usr/bin/env bash
#
# hash_rename.sh
#
# Copyright (C) {{ .copyright_year }} Conor McShane <conor dot d dot mcshane at outlook dot com>
#
# Distributed under terms of the GPLv3 license.

set -o errexit

count=0

# array of filetypes this supports
declare -a image=("png" "jpe" "jpg" "jpeg" "webm" "gif" "mp4" "mov")

# array of filetypes that exist, empty because we haven't figured out if they exist yet
declare -a existing_filetypes

hash_command="sha256sum"

# this weeds out filetypes that don't exist and pushes them to the existing_filetypes array
for a in "${image[@]}"; do
  for b in "$1"/*."$a"; do
    if [ -f "$b" ]; then
      existing_filetypes+=("$a")
    fi
    break
  done
done

for c in "${existing_filetypes[@]}"; do
  for d in "$1"/*."$c"; do

    checksum=$($hash_command "$d" | awk '{ print $1 }')

    if [[ ! -f "$1"/"$checksum"."$c" ]]; then
      mv "$d" "$1"/"$checksum"."$c"
      count=$((count+1))
      echo -n "$count"

      # this counts the amount of characters in $count and sends the correct amount of backspaces
      for (( i = 0; i < ${#count}; i++ )); do
        echo -n -e "\b"
      done

    fi

  done
  if [[ $count -gt 0 ]]; then
    echo "${c}: $count"
    count=0
  fi
done

if [[ "$2" == 'c' ]]; then
  # this just goes over every file and alerts if the filename and checksum differ
  for e in "${existing_filetypes[@]}"; do
    for f in "$1"/*."$e"; do
      checksum=$($hash_command "$f" | awk '{ print $1 }')
      if [ "${1}/${checksum}.$e" != "$f" ]; then
        echo "${1}/${checksum}.$e's filename doesn't match it's checksum"
        echo "This script probably messed up somewhere : ("
      fi
    done
  done
fi
