#!/usr/bin/env bash
#
# update-system.sh
#
# Copyright (C) {{ .copyright_year }} Conor McShane <conor dot d dot mcshane at outlook dot com>
#
# Distributed under terms of the GPLv3 license.

source "$HOME"/.bin/functions.sh
# functions.sh provides:
# check_dependency

if check_hostname "honshu" || check_hostname "hokkaido"; then
  sudo pacman -Qtdq | sudo pacman -Rns -
fi

if check_hostname "honshu" || check_hostname "hokkaido"; then
  if check_dependency paru; then
    paru -Syu
    paru -Sccd
  else
    sudo pacman -Syyu
  fi

  # diff any .pacnew's
  sudo DIFFPROG="nvim -d" pacdiff
fi


if check_dependency nvim; then
  nvim -c 'PlugUpdate'
fi

# sort out repos
if [ -d "${HOME}"/repos ]; then
  if [ ! -d "${HOME}"/repos/zsh-completions ]; then
    git clone https://github.com/zsh-users/zsh-completions "$HOME"/repos/zsh-completions
  fi
fi

# update repos
for FOLDER in "$HOME"/repos/* ; do
  cd "$FOLDER" && git pull
done

if check_hostname "{{ .hosts.laptop.hostname }}"; then
  brew update
  brew upgrade
fi

#clean.sh

# This only applies to main desktop
if check_hostname "{{ .hosts.desktop.hostname }}"; then
  # unmounts mountpoints and closes all vaults
  backup-preparation.sh

  # backup docker files from remote server
  backup-docker.sh

  # backup gpg related files
  backup-gpg.sh

  # backs up minecraft container
  backup-minecraft.sh

  # backs up all vaults to onedrive
  backup-rclone.sh

  # backs up system
  backup-restic.sh
fi
