#!/usr/bin/env bash
# vim: set ft=sh:
#
# clean-windows.sh
#
# Copyright (C) {{ .copyright_year }} Conor McShane <conor dot d dot mcshane at outlook dot com>
#
# Distributed under terms of the GPLv3 license.

set -o nounset

source "$HOME"/.bin/functions.sh
# functions.sh provides:
# check_dir
# check_dependency

# moves the files to the trash
if ! check_dependency trash-put; then
  echo "Error: trash-put is not installed, exiting..."
  exit 1
fi

if [ -d "/mnt/Users" ] && [ -w /mnt/ ]; then
  echo "Windows is mounted"
else
  echo "Windows is not mounted"
  exit 1
fi

# Three directories/files per line
declare -a files=(
"/mnt/Riot Games"
"/mnt/Program Files (x86)/Common Files/BattlEye"
"/mnt/Users/.tobii"
"/mnt/Users/dind/.android"
"/mnt/Users/dind/.dotnet"
"/mnt/Users/dind/.gradle"
"/mnt/Users/dind/.m2"
"/mnt/Users/dind/.Origin"
"/mnt/Users/dind/.QtWebEngineProcess"
"/mnt/Users/dind/.templateengine"
"/mnt/Users/dind/.tobii"
"/mnt/Users/dind/.vscode"
"/mnt/Users/dind/3D Objects"
"/mnt/Users/dind/AndroidStudioProjects"
"/mnt/Users/dind/RiderProjects"
"/mnt/Users/dind/Filen Sync"
"/mnt/Users/dind/AppData/Local/.dartServer"
"/mnt/Users/dind/AppData/Local/activitywatch"
"/mnt/Users/dind/AppData/Local/AdvinstAnalytics"
"/mnt/Users/dind/AppData/Local/Android"
"/mnt/Users/dind/AppData/Local/Android Open Source Project"
"/mnt/Users/dind/AppData/Local/audacity"
"/mnt/Users/dind/AppData/Local/Back4Blood"
"/mnt/Users/dind/AppData/Local/BANDAI NAMCO Entertainment"
"/mnt/Users/dind/AppData/Local/BattlEye"
"/mnt/Users/dind/AppData/Local/BendGame"
"/mnt/Users/dind/AppData/Local/Bohemia_Interactive"
"/mnt/Users/dind/AppData/Local/CMakeTools"
"/mnt/Users/dind/AppData/Local/CrashDumps"
"/mnt/Users/dind/AppData/Local/CrashRpt"
"/mnt/Users/dind/AppData/Local/Criterion Games"
"/mnt/Users/dind/AppData/Local/DaysGone"
"/mnt/Users/dind/AppData/Local/DBG"
"/mnt/Users/dind/AppData/Local/DH"
"/mnt/Users/dind/AppData/Local/DH2"
"/mnt/Users/dind/AppData/Local/Diagnostics"
"/mnt/Users/dind/AppData/Local/EBWebView"
"/mnt/Users/dind/AppData/Local/ElevatedDiagnostics"
"/mnt/Users/dind/AppData/Local/Falcon"
"/mnt/Users/dind/AppData/Local/Ferox_Games_B.V"
"/mnt/Users/dind/AppData/Local/FlightSimulator"
"/mnt/Users/dind/AppData/Local/GameAnalytics"
"/mnt/Users/dind/AppData/Local/Gears5"
"/mnt/Users/dind/AppData/Local/Google"
"/mnt/Users/dind/AppData/Local/Halo Wars"
"/mnt/Users/dind/AppData/Local/HaloInfinite"
"/mnt/Users/dind/AppData/Local/install"
"/mnt/Users/dind/AppData/Local/INTL"
"/mnt/Users/dind/AppData/Local/IO Interactive"
"/mnt/Users/dind/AppData/Local/IsolatedStorage"
"/mnt/Users/dind/AppData/Local/JetBrains"
"/mnt/Users/dind/AppData/Local/kotlin"
"/mnt/Users/dind/AppData/Local/LarianStudios"
"/mnt/Users/dind/AppData/Local/main.kts.compiled.cache"
"/mnt/Users/dind/AppData/Local/Melvor Idle"
"/mnt/Users/dind/AppData/Local/Microsoft/CLR_"*
"/mnt/Users/dind/AppData/Local/Microsoft/Edge"
"/mnt/Users/dind/AppData/Local/Microsoft/EDP"
"/mnt/Users/dind/AppData/Local/Microsoft/Feeds"*
"/mnt/Users/dind/AppData/Local/Microsoft/GameDVR"
"/mnt/Users/dind/AppData/Local/Microsoft/InstallService"
"/mnt/Users/dind/AppData/Local/Microsoft/Internet Explorer"
"/mnt/Users/dind/AppData/Local/Microsoft/Massive"
"/mnt/Users/dind/AppData/Local/Microsoft/PenWorkspace"
"/mnt/Users/dind/AppData/Local/Microsoft/PlayReady"
"/mnt/Users/dind/AppData/Local/Microsoft/PowerShell"
"/mnt/Users/dind/AppData/Local/Microsoft/Speech"
"/mnt/Users/dind/AppData/Local/Microsoft/TeamsPresenceAddin"
"/mnt/Users/dind/AppData/Local/Microsoft/vscode-cpptools"
"/mnt/Users/dind/AppData/Local/Microsoft/XboxLive"
"/mnt/Users/dind/AppData/Local/MinecraftInstaller"
"/mnt/Users/dind/AppData/Local/mod.io"
"/mnt/Users/dind/AppData/Local/NitroxLauncher"
"/mnt/Users/dind/AppData/Local/Paradox Interactive"
"/mnt/Users/dind/AppData/Local/PAYDAY 2"
"/mnt/Users/dind/AppData/Local/PeerDistRepub"
"/mnt/Users/dind/AppData/Local/PlaceholderTileLogoFolder"
"/mnt/Users/dind/AppData/Local/plastic4"
"/mnt/Users/dind/AppData/Local/PortfolioPerformance"
"/mnt/Users/dind/AppData/Local/Programs/Paradox Interactive"
"/mnt/Users/dind/AppData/Local/ProjectWingman"
"/mnt/Users/dind/AppData/Local/Publishers"
"/mnt/Users/dind/AppData/Local/PunkBuster"
"/mnt/Users/dind/AppData/Local/ReadyOrNot"
"/mnt/Users/dind/AppData/Local/RefSrcSymbols"
"/mnt/Users/dind/AppData/Local/Riot Games"
"/mnt/Users/dind/AppData/Local/Rocket League"
"/mnt/Users/dind/AppData/Local/speech"
"/mnt/Users/dind/AppData/Local/SquadGame"
"/mnt/Users/dind/AppData/Local/SquirrelTemp"
"/mnt/Users/dind/AppData/Local/Symbols"
"/mnt/Users/dind/AppData/Local/SymbolSourceSymbols"
"/mnt/Users/dind/AppData/Local/Temp/Cheat Engine"
"/mnt/Users/dind/AppData/Local/Temp/Cheat Engine Symbols"
"/mnt/Users/dind/AppData/Local/Temp/Crows Crows Crows"
"/mnt/Users/dind/AppData/Local/Temp/flutter"*
"/mnt/Users/dind/AppData/Local/Temp/JetLogs"
"/mnt/Users/dind/AppData/Local/Temp/kdeconnect"*
"/mnt/Users/dind/AppData/Local/Temp/lwjgl"*
"/mnt/Users/dind/AppData/Local/Temp/Medal"*
"/mnt/Users/dind/AppData/Local/Temp/NvTelemetry_WD"
"/mnt/Users/dind/AppData/Local/Temp/Origin"
"/mnt/Users/dind/AppData/Local/Temp/unityhub"*
"/mnt/Users/dind/AppData/Local/Temp/vscode"*
"/mnt/Users/dind/AppData/Local/ToastNotificationManagerCompat"
"/mnt/Users/dind/AppData/Local/Tobii"
"/mnt/Users/dind/AppData/Local/Unity"
"/mnt/Users/dind/AppData/LocalLow/7th Beat Games"
"/mnt/Users/dind/AppData/LocalLow/Bird Bath Games"
"/mnt/Users/dind/AppData/LocalLow/Crows Crows Crows"
"/mnt/Users/dind/AppData/LocalLow/DANG!"
"/mnt/Users/dind/AppData/LocalLow/DefaultCompany"
"/mnt/Users/dind/AppData/LocalLow/Denchi"
"/mnt/Users/dind/AppData/LocalLow/Kinetic Games"
"/mnt/Users/dind/AppData/LocalLow/KingArt"
"/mnt/Users/dind/AppData/LocalLow/Leafy Games, LLC"
"/mnt/Users/dind/AppData/LocalLow/Ludeon Studios"
"/mnt/Users/dind/AppData/LocalLow/MCC"
"/mnt/Users/dind/AppData/LocalLow/Oracle"
"/mnt/Users/dind/AppData/LocalLow/Radian Simulations LLC"
"/mnt/Users/dind/AppData/LocalLow/SteelRaven7"
"/mnt/Users/dind/AppData/LocalLow/Subcreation"
"/mnt/Users/dind/AppData/LocalLow/Sun"
"/mnt/Users/dind/AppData/LocalLow/Tiny Combat"
"/mnt/Users/dind/AppData/LocalLow/Unity"
"/mnt/Users/dind/AppData/LocalLow/Unknown Worlds"
"/mnt/Users/dind/AppData/LocalLow/UnrealEngine"
"/mnt/Users/dind/AppData/Roaming/.dart"
"/mnt/Users/dind/AppData/Roaming/.minecraft"
"/mnt/Users/dind/AppData/Roaming/Adobe"
"/mnt/Users/dind/AppData/Roaming/audacity"
"/mnt/Users/dind/AppData/Roaming/bitburner"
"/mnt/Users/dind/AppData/Roaming/Blender Foundation"
"/mnt/Users/dind/AppData/Roaming/Code"
"/mnt/Users/dind/AppData/Roaming/com.lightbringergames.learntofly3"
"/mnt/Users/dind/AppData/Roaming/Crash Bandicoot(TM) N. Sane Trilogy"
"/mnt/Users/dind/AppData/Roaming/DarkSoulsIII"
"/mnt/Users/dind/AppData/Roaming/Depressurizer"
"/mnt/Users/dind/AppData/Roaming/EasyAntiCheat"
"/mnt/Users/dind/AppData/Roaming/filen-desktop-client"
"/mnt/Users/dind/AppData/Roaming/FLT"
"/mnt/Users/dind/AppData/Roaming/GMEGLOBAL"
"/mnt/Users/dind/AppData/Roaming/Godot"
"/mnt/Users/dind/AppData/Roaming/Google"
"/mnt/Users/dind/AppData/Roaming/HelloGames"
"/mnt/Users/dind/AppData/Roaming/Increlution"
"/mnt/Users/dind/AppData/Roaming/IncrementalAdventures"
"/mnt/Users/dind/AppData/Roaming/IndustryIdle"
"/mnt/Users/dind/AppData/Roaming/Io Interactive"
"/mnt/Users/dind/AppData/Roaming/JetBrains"
"/mnt/Users/dind/AppData/Roaming/Lapce"
"/mnt/Users/dind/AppData/Roaming/Macromedia"
"/mnt/Users/dind/AppData/Roaming/monero-wallet-gui"
"/mnt/Users/dind/AppData/Roaming/MoneyManagerEx"
"/mnt/Users/dind/AppData/Roaming/PollyMC"
"/mnt/Users/dind/AppData/Roaming/PolyMC"
"/mnt/Users/dind/AppData/Roaming/RoR2ModManager"
"/mnt/Users/dind/AppData/Roaming/ror2-mod-manager"
"/mnt/Users/dind/AppData/Roaming/RoRML_Launcher"
"/mnt/Users/dind/AppData/Roaming/shapez"
"/mnt/Users/dind/AppData/Roaming/shapez.io"
"/mnt/Users/dind/AppData/Roaming/Soundux"
"/mnt/Users/dind/AppData/Roaming/StardewValley"
"/mnt/Users/dind/AppData/Roaming/SyncTrayzor"
"/mnt/Users/dind/AppData/Roaming/T2GP Launcher"
"/mnt/Users/dind/AppData/Roaming/Tobii"
"/mnt/Users/dind/AppData/Roaming/tor"
"/mnt/Users/dind/AppData/Roaming/Unity"
"/mnt/Users/dind/AppData/Roaming/UnityHub"
"/mnt/Users/dind/AppData/Roaming/Z0MB1ES"
"/mnt/Users/dind/AppData/Roaming/.flutter"
"/mnt/Users/dind/AppData/Roaming/.flutter_tool_state"
"/mnt/Users/dind/AppData/Roaming/VoiceMeeterDefault.xml"
"/mnt/Users/dind/Documents/Arma 3"
"/mnt/Users/dind/Documents/Avalanche Studios"
"/mnt/Users/dind/Documents/BFBC2"
"/mnt/Users/dind/Documents/BioshockHD"
"/mnt/Users/dind/Documents/DyingLight"
"/mnt/Users/dind/Documents/HiSuite"
"/mnt/Users/dind/Documents/Klei"
"/mnt/Users/dind/Documents/Larian Studios"
"/mnt/Users/dind/Documents/Medal"
"/mnt/Users/dind/Documents/MGR"
"/mnt/Users/dind/Documents/My Cheat Tables"
"/mnt/Users/dind/Documents/My Games/Dead Rising 2"
"/mnt/Users/dind/Documents/My Games/Fallout4"
"/mnt/Users/dind/Documents/My Games/GHPC"
"/mnt/Users/dind/Documents/My Games/Infinifactory"
"/mnt/Users/dind/Documents/My Games/Mafia Definitive Edition"
"/mnt/Users/dind/Documents/My Games/Rocket League"
"/mnt/Users/dind/Documents/My Games/SpecOps-TheLine"
"/mnt/Users/dind/Documents/Rhythm Doctor"
"/mnt/Users/dind/Documents/Voicemeeter"
"/mnt/Users/dind/Documents/VVVVVV"
"/mnt/Users/dind/Documents/WindowsPowerShell"
"/mnt/Users/dind/Music/Medal"
"/mnt/Users/dind/Pictures/Feedback"
"/mnt/Users/dind/Pictures/VRChat"
"/mnt/Users/dind/Saved Games/MachineGames"
"/mnt/Users/dind/Saved Games/EugenSystems"
"/mnt/Users/dind/Saved Games/Metro Exodus"
"/mnt/Users/dind/Videos/Medal"
"/mnt/Users/dind/.emulator_console_auth_token"
"/mnt/Users/Public/mod.io"
"/mnt/ProgramData/Tobii"
"/mnt/ProgramData/Unity"
"/mnt/ProgramData/Paragon Software"
"/mnt/ProgramData/Riot Games"
"/mnt/ProgramData/Unknown Worlds"
"/mnt/ProgramData/WindowsHolographicDevices"
"/mnt/ProgramData/bitmonero"
"/mnt/ProgramData/Gaijin"
"/mnt/ProgramData/HP"
"/mnt/ProgramData/INTL"
"/mnt/ProgramData/regid.1991-06.com.microsoft"
)

for i in "${files[@]}"; do
  if [ -e "$i" ]; then
    echo "Removing $i"
    trash-put "$i" > /dev/null 2>&1
  fi
done

declare -a dir_list=(
"/mnt/Users/$USER/Downloads"
"/mnt/Users/$USER/Pictures"
"/mnt/Users/$USER/Desktop"
)

sh "$HOME/.bin/sort-files.sh" "${dir_list[@]}"

trash-empty
