#!/usr/bin/env bash
# vim: set ft=sh:
#
# backup-docker.sh
#
# Copyright (C) {{ .copyright_year }} Conor McShane <conor dot d dot mcshane at outlook dot com>
#
# Distributed under terms of the GPLv3 license.
#
set -o errexit
set -o nounset

source "$HOME/.bin/functions.sh"

# $HOME/.bin/functions.sh@44
if ! check_host "$HOKKAIDO"; then
  echo "Host is not online, aborting..."
  exit 1
fi

export VAULT="$HOME/important/docker/"

# if "$VAULT/plain" doesn't exist, create it
if [[ ! -d "$VAULT/plain" ]]; then
  mkdir -p "$VAULT/plain"
fi

echo "Unlocking $VAULT"
pass gocryptfs/docker | gocryptfs "$VAULT/encrypted" "$VAULT/plain"

echo "Backing up docker files"
rsync -Pa \
  --exclude-from="$HOME/.config/rsync/exclude-docker" \
  --delete \
  --delete-excluded \
  hokkaido:"$HOME/docker/" "$VAULT/plain" #--dry-run \

echo "Locking $VAULT"
fusermount -u "$VAULT/plain"

if ! mountpoint -q "$VAULT/plain"; then
  rmdir "$VAULT/plain"
fi
