{{- if eq .chezmoi.hostname .hosts.desktop.linux.hostname }}
{{- keepassxcAttribute .hosts.desktop.linux.ssh.github.db_path "public" -}}
{{- else if (and (eq .chezmoi.os "linux") (eq .chezmoi.hostname .hosts.desktop.windows.wsl.hostname)) }}
{{- keepassxcAttribute .hosts.desktop.windows.wsl.ssh.github.db_path "public" -}}
{{- else if eq .chezmoi.hostname .hosts.desktop.windows.hostname }}
{{- keepassxcAttribute .hosts.desktop.windows.ssh.github.db_path "public" -}}
{{- else if eq .chezmoi.hostname .hosts.handheld.hostname }}
{{- keepassxcAttribute .hosts.handheld.ssh.github.db_path "public" -}}
{{- else if eq .chezmoi.hostname .hosts.laptop.hostname }}
{{- keepassxcAttribute .hosts.laptop.ssh.github.db_path "public" -}}
{{- else if eq .chezmoi.hostname .hosts.server.hostname }}
{{- keepassxcAttribute .hosts.server.ssh.github.db_path "public" -}}
{{- end }}
