{{- if eq .chezmoi.hostname .hosts.desktop.hostname -}}
{{- keepassxcAttribute .hosts.desktop.ssh.yubikey.black.db_path "private" -}}
{{- else if eq .chezmoi.hostname .hosts.laptop.hostname -}}
{{- keepassxcAttribute .hosts.laptop.ssh.yubikey.black.db_path "private" -}}
{{- end -}}
