{{ if eq .chezmoi.hostname .hosts.desktop.linux.hostname -}}
{{- keepassxcAttribute .hosts.desktop.linux.ssh.yubikey.black.db_path "private" -}}
{{- else if eq .chezmoi.hostname .hosts.laptop.hostname -}}
{{- keepassxcAttribute .hosts.laptop.ssh.yubikey.black.db_path "private" -}}
{{- end }}
