default-cache-ttl 34560000
max-cache-ttl 34560000
{{ if eq .chezmoi.os "darwin" -}}
pinentry-program /opt/homebrew/bin/pinentry-mac
{{ else }}
pinentry-program /run/current-system/sw/bin/pinentry-curses
{{ end }}
