cert-digest-algo SHA512
charset utf-8

# $HOME/wiki/programs/gpg.wiki
{{- if eq .chezmoi.os "darwin" }}
default-key C59E2EA148098193BEEEE42087BFE2E84FE74F61
{{- else if eq .chezmoi.hostname "hokkaido" }}
default-key 7032F7F9BC73C52B99956EB1F79E4AE90F072A31
{{- else if eq .chezmoi.hostname "honshu" }}
# default-key 26521FB9AEA047007F6D49489B8AC2D618B9D0E1
{{- end }}

default-preference-list SHA512 SHA384 SHA256 AES256 AES192 AES ZLIB BZIP2 ZIP Uncompressed
fixed-list-mode
keyid-format 0xlong
list-options show-uid-validity
no-comments
no-emit-version
no-symkey-cache
personal-cipher-preferences AES256 AES192 AES
personal-compress-preferences ZLIB BZIP2 ZIP Uncompressed
personal-digest-preferences SHA512 SHA384 SHA256
require-cross-certification
s2k-cipher-algo AES256
s2k-digest-algo SHA512
use-agent
verify-options show-uid-validity
with-fingerprint
