*.referencefolder.wiki {
        tls {
                dns cloudflare {env.CLOUDFLARE_API_KEY}
        }

        reverse_proxy auth.referencefolder.wiki {
                to authelia:9091
        }


        # MiniServe.
        reverse_proxy files.referencefolder.wiki {
                forward_auth {
                        uri /api/verify?rd=https://auth.referencefolder.wiki/
                        copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
                }
                to miniserve:8080
        }
}
