{{ keepassxcAttribute "keys/ssh/desktop/yubikey-blue" "public" }}
{{ keepassxcAttribute "keys/ssh/desktop/yubikey-black" "public" }}
{{ keepassxcAttribute "keys/ssh/desktop/yubikey-nano" "public" }}

{{ keepassxcAttribute "keys/ssh/laptop/yubikey-blue" "public" }}
{{ keepassxcAttribute "keys/ssh/laptop/yubikey-black" "public" }}
