Protocol 2

{{- if eq .chezmoi.hostname .hosts.macbook.hostname }}
host site.ops.corp.yahoo.com
	ForwardAgent yes
	ServerAliveInterval 180

host site1.ops.corp.ne1.yahoo.com
	ForwardAgent yes
	ServerAliveInterval 180

host site2.ops.corp.ne1.yahoo.com
	ForwardAgent yes
	ServerAliveInterval 180

host tool*.ops.*.yahoo.com
	ForwardAgent yes

host proxy*.ops.*.yahoo.com
	ForwardAgent yes

host mrtg*.ops.*.yahoo.com
	ForwardAgent yes

host tftp*.ops.*.yahoo.com
	ForwardAgent yes

host *.red.ygrid.yahoo.com
	ForwardAgent yes

host *
	ForwardAgent no
	ServerAliveInterval 180

host ems
	HostName 10.50.7.160
	ForwardAgent yes

Host git.ouryahoo.com
	IdentityFile {{ .hosts.macbook.ssh.work.private }}
	IdentitiesOnly yes
{{ end }}

Host github.com
	HostName github.com
{{- if eq .chezmoi.hostname .hosts.desktop.hostname }}
	IdentityFile {{ .hosts.desktop.ssh.private }}
{{ else if eq .chezmoi.hostname .hosts.server.hostname }}
	IdentityFile {{ .hosts.server.ssh.private }}
{{ else if eq .chezmoi.os "darwin" }}
	IdentityFile {{ .hosts.macbook.ssh.personal.private }}
{{ end }}

Host hokkaido
	HostName 192.168.0.123
	User conor
	Port 3663
{{- if eq .chezmoi.hostname .hosts.desktop.hostname }}
	IdentityFile {{ .hosts.desktop.ssh.private }}
{{ else if eq .chezmoi.os "darwin" }}
	IdentityFile {{ .hosts.macbook.ssh.personal.private }}
{{ end }}
