Protocol 2

{{- if eq .chezmoi.hostname .hosts.laptop.hostname }}
Include config_work
{{- end }}

Host github.com
	HostName github.com
	IdentityFile ~/.ssh/keys/github

# Accessible via:
# desktop (linux)
# laptop
Host {{ .hosts.server.hostname }}
	HostName {{ .hosts.server.ip }}
	User conor
	Port 3663
{{- if eq .chezmoi.hostname .hosts.desktop.linux.hostname }}
	IdentityFile {{ .hosts.desktop.linux.ssh.yubikey.black.private }}
	IdentityFile {{ .hosts.desktop.linux.ssh.yubikey.blue.private }}
{{- else if eq .chezmoi.hostname .hosts.laptop.hostname }}
	IdentityFile {{ .hosts.laptop.ssh.yubikey.black.private }}
	IdentityFile {{ .hosts.laptop.ssh.yubikey.blue.private }}
{{- end }}

# Accessible via:
# desktop
# laptop
Host {{ .hosts.handheld.hostname }}
	HostName {{ .hosts.handheld.ip }}
	User deck
	Port 22
{{- if eq .chezmoi.hostname .hosts.desktop.linux.hostname }}
	IdentityFile {{ .hosts.desktop.linux.ssh.yubikey.black.private }}
	IdentityFile {{ .hosts.desktop.linux.ssh.yubikey.blue.private }}
{{- else if eq .chezmoi.hostname .hosts.laptop.hostname }}
	IdentityFile {{ .hosts.laptop.ssh.yubikey.black.private }}
	IdentityFile {{ .hosts.laptop.ssh.yubikey.blue.private }}
{{- end }}
