[global/wm]
margin-top = 0
margin-bottom = 0

[settings]
screenchange-reload = false

[globals]
padding = 1

[colors]
background = #808080
foreground = #EBDBB2
background-alt = #444
foreground-alt = #555
dimmed-foreground = #A29D8F
primary = #ffb52a
secondary = #e60053
alert = #bd2c40

; include
include-file = ~/.config/polybar/panels/left.ini
include-file = ~/.config/polybar/panels/right.ini

; modules
include-file = ~/.config/polybar/modules.ini

; vim: set ft=dosini:
