; vim: set ft=gitconfig:

[user]
	name = {{ .NAME }}
	email = {{ .EMAIL }}
{{- if eq .chezmoi.os "darwin" }}
	signingkey = {{ .MACBOOK.GPG_KEY }}
{{ else if eq .chezmoi.hostname "honshu" }}
	signingkey = {{ .DESKTOP.GPG_KEY }}
{{ else if eq .chezmoi.hostname "hokkaido" }}
	signingkey = {{ .SERVER.GPG_KEY }}
{{ end -}}

[core]
	editor = nvim
	excludesfile = ~/config/git/gitignore

[commit]
	template = ~/.config/git/commit-template
	gpgsign = true

[color]
	ui = true

[pull]
	rebase = false

[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[merge]
	tool = nvim

[mergetool]
	prompt = false

[core]
	pager = delta

[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	syntax-theme = Monokai Extended
	navigate = true

[interactive]
	diffFilter = delta --color-only
