#!/usr/bin/env zsh
#
# variables.zsh
#
# Copyright (C) {{ .copyright_year }} Conor McShane <conor dot d dot mcshane at outlook dot com>
#
# Distributed under terms of the GPLv3 license.

# These should always be set
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

export XDG_CONFIG_HOME="$HOME/.config"
source "${XDG_CONFIG_HOME}/user-dirs.dirs"

# where to look for .zshrc
ZDOTDIR=$HOME

# If we have nvim, set it is as the EDITOR
# Else we'll just use regular vim
# if all else fails we fall back to nano
if [ -x "$(command -v nvim)" ]; then
  export VISUAL="$(which nvim)"
  export EDITOR="$VISUAL"
elif [ -x "$(command -v vim)" ]; then
  export VISUAL="$(which vim)"
  export EDITOR="$VISUAL"
else
  export VISUAL="$(which nano)"
  export EDITOR="$VISUAL"
fi

# fix java programs on bspwm
export _JAVA_AWT_WM_NONREPARENTING=1
