#!/usr/bin/env zsh
#
# variables.zsh
#
# Copyright (C) {{ .copyright_year }} Conor McShane <conor dot d dot mcshane at outlook dot com>
#
# Distributed under terms of the GPLv3 license.

export PROMPT_COLOR="yellow"

# $HOME/wiki/programs/gpg.wiki
export GPG_KEY={{ .hosts.macbook.gpg_id }}

# this stops gpg from yelling at me while in ssh
export GPG_TTY="$(tty)"

# $HOME/wiki/programs/ssh.wiki
export SSH_KEY={{ .hosts.macbook.ssh.personal.public }}

export SSH_AUTH_SOCK=/Users/cmcshane/.yubiagent/sock
