[bar/left]
monitor = {{ .hosts.desktop.monitor_240hz }}
width = 1908
height = 25
offset-x = 6
offset-y = 6
radius = 0
fixed-center = true
bottom = false

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 2
line-color = #f00

border-size = 0
border-color = #D8DEE9

padding-left = 0
padding-right = 0

module-margin-left = 0
module-margin-right = 0

font-0 = tewi:pixelsize=9;1

modules-left = filesystem
modules-center = bspwm
modules-right = checkupdates xkeyboard

wm-restack = bspwm
