# ; vim: set ft=toml:

encryption = "gpg"
[gpg]
# Dotfile gpg key
recipient = "87598FB224CE55A319D461BC092543F7A4AFB15F"

{{- if eq .chezmoi.os "windows" }}
[interpreters.ps1]
command = "pwsh"
args = ["-NoLogo"]
{{ end }}
