#!/usr/bin/env zsh
#
# directories.zsh
#
# Copyright (C) {{ .copyright_year }} Conor McShane <conor dot d dot mcshane at outlook dot com>
#
# Distributed under terms of the GPLv3 license.

export HDD_STORAGE="/mnt"
export TORRENT_DIR="$HDD_STORAGE/downloads"
export TORRENT_WATCH_DIR="$TORRENT_DIR/watch"
